
@font-face {
    font-family: 'MyFont';
    src: url('Rockstage Vintage.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
header{
    font-family: "MyFont";
    color: coral;
//transform: rotateZ(-30deg);
    font-size: 160px;
}
body{
    background-color: #069494;
	//background-color: royalblue;
}
p{
	font-size: 24px;
}
